#container{
    width: 80%;
    margin: 1% auto;
    text-align: center;
}
.button {
    padding: 0px 5%;
    text-decoration: none;
    border: 1px solid #a8a8a8;
    font-size: 1.3em;
    font-weight: bold;
    border-radius: 20px;
    background-color: palevioletred;
    box-shadow: 2px 2px 15px 2px purple;
    color: floralwhite;
    text-transform: capitalize;
}
svg{
    margin-top: 1%;
    border: 1px solid black;
    background-image: url('../images/windows.png');
}
svg #start {
    font-family: Consolas;
    font-size: 27px;
    fill: white;
}
#date {
    font-size: 35px;
    font-family: Times;
    fill:white;
}
#name-date {
    font-family: Consolas;
    font-size: 10px;
    fill: white;
}
.nested-menu {
    font-family: Times;
    font-size:10px;
    fill: white;
}